@import url("https://fonts.googleapis.com/css?family=Mina:400,700");
/**
* Variables
*/
/**
* Rules
*/
html, body {
  min-height: 100%;
}

body {
  padding: 20px 20px 40px 20px;
  background-color: #f5f5f5;
}
.container{
	margin-bottom: 50px;
}
.title {
  font-family: "Mina", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 90px;
  white-space: nowrap;
}

.custom-card {
	min-height: 430px;
	margin-top: auto;
  position: relative;
  margin-bottom: -3px;
  box-shadow: 0px 6px 38px 0px rgba(0, 0, 0, 0.085);
  will-change: box-shadow;
  transition: box-shadow 0.3s ease;
}
@media only screen and (max-width:765px) {
	.custom-card {
		margin-top: 30px;
		min-height: 120px;
	  position: relative;
	  margin-bottom: -3px;
	  box-shadow: 0px 6px 38px 0px rgba(0, 0, 0, 0.085);
	  will-change: box-shadow;
	  transition: box-shadow 0.3s ease;
	}
}
.custom-card:hover {
  box-shadow: 0px 13px 38px 0px rgba(0, 0, 0, 0.15);
}
.custom-card .card-body {
  padding-top: 65px;
}
.custom-card .card-cover {
  position: relative;
  background: none no-repeat center center/cover;
  height: 250px;
}
.custom-card .card-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* background-color: rgba(0, 0, 0, 0.45); */
}
.custom-card .circle-image {
  position: absolute;
  background: none no-repeat center center/cover;
  width: 90px;
  height: 90px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.custom-card .circle-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 6px #fff;
  width: calc( 100% + 10px );
  height: calc( 100% + 10px );
  border-radius: 50%;
}
/* @media screen and (max-width: 768px) {
  .custom-card .card-cover {
    background: none;
    height: 0;
  }
  .custom-card .circle-image {
    position: relative;
    bottom: inherit;
    top: 20px;
    left: 10px;
    transform: none;
  }
  .custom-card .circle-image:before {
    box-shadow: none;
  }
  .custom-card .card-body {
    padding-top: 20px;
    padding-left: 120px;
  }
} */