html{
	margin:0;
	padding:0;
	}
/* .app-none{
	margin-top: 40px!important;
	padding-top: 30px;
} */
.w768{
	top: 0;
	position: fixed;
	background-color: #ffffff;
	height: 1500px;
	width: 100%;
	z-index: 1000;
	padding-top: 25%;
	padding-left: 25%;
	padding-right: 25%;
	overflow:hidden;
	margin-top: -55px;
}
.w768-h3{
	margin-left: 25%;
	margin-top: 80%;
}
.nav-top{
	display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
	margin-top: 30px;
}
.two-first-div{
	background-image: url(../img/background-bike.png);
	background-size:cover ;
	background-position: unset;
	background-repeat: no-repeat;
	z-index: -100;
	position:fixed;
	top: 60px;
	right: 0px;
	    left: 0px;
		height: 700px;
		padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
.two-first-div{
	background-image: url(../img/background-bike.png);
	background-size:cover ;
	background-position: unset;
	background-repeat: no-repeat;
	z-index: -100;
	position:fixed;
	top: 60px;
	right: 0px;
	height: 320px;
	    left: 0px;
		padding-bottom: 30px;
}
}
.two-first-div-text{
	
}
.first-div-p{
	padding-top: 260px;
	padding-bottom: 20px;
	font-size: 90px;
	color: rgb(255, 255, 255);
	    letter-spacing: 0.1em;
		text-align: center;
		line-height: 1.1em;
		font-weight: 900;
}

@media only screen and (max-width: 768px) {
.first-div-p{
	padding-top: 230px;
	padding-bottom: 20px;
	font-size: 31px;
	color: rgb(255, 255, 255);
	    letter-spacing: 0.1em;
		text-align: center;
		line-height: 1.1em;
		font-weight: 900;
}
}

.first-div-p2{
	padding-bottom: 0px;
	font-size: 24px;
	color: rgb(255, 255, 255);
	    letter-spacing: 0.9em;
		text-align: center;
		line-height: 1.3em;
		font-weight: 300;
}
@media only screen and (max-width: 768px) {
.first-div-p2{
	padding-bottom: 0px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	    letter-spacing: 0.9em;
		text-align: center;
		line-height: 1.3em;
		font-weight: 300;
}
}
.info-div{
	background-color: #F5f5f7;
	color: #fc8808;
	text-align: center;
	margin-top: 250px;
	z-index: 9999;

}
@media only screen and (max-width: 768px) {
.info-div{
	background-color: #F5f5f7;
	color: #fc8808;
	text-align: center;
	margin-top: 15px;
	z-index: 9999;

}
}
.info-h3{
	padding-top: 30px;
	letter-spacing: 0.4em;
	margin-bottom: 30px;
}
.info-mode{
	    display: flex;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: space-evenly;
	    flex-direction: row;
	    align-items: center;
	}

@media only screen and (max-width: 768px) {
.info-mode{
	display: flex;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	}
	}
.info-into{
	display: flex;
	    margin-top: 60px;
	    margin-bottom: 60px;
	    flex-direction: column;
	    align-items: center;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: flex-start;
}
.info-into-img{
	width: 180px;
	height: 180px;
	-webkit-border-radius: 8px; */
	    -moz-border-radius: 8px;
	    /* border-radius: 8px; */
	    /* -webkit-box-shadow: #ccc 0px 0px 10px; */
	    -moz-box-shadow: #fc8808 1px;
	    /* box-shadow: #fc8808 0px 0px 10px; */
		border: #FC8808 solid;
		border-width: 1px;
	    background-color: #FFFFFF;
	    border-radius: 50%;
}
.info-into-img-img{
	margin-top: 20px;
	width: 130px;
	height: 130px;
}
.info-text-flex{
	display: flex;
}
.info-into-top-text{
	margin: 20px;
	
}
.info-into-top-text-p{
	text-align: center;
	font-size: 25px;
	
}
.info-into-2-text{
	/* margin: 20px; */
}
.info-into-2-text-p{
	color: #000000;
	text-align: center;
	font-size: 19px;
	
}
.info-more{
	 --rd: 0px;
	     --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	     --shd: none;
	     --fnt: normal normal normal 16px/1.4em 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
	     --trans2: color 0.4s ease 0s;
	     --txt: var(--color_15);
	     --brw: 1px;
	     --bg: var(--color_18);
	     --brd: var(--color_18);
	     --bgh: var(--color_11);
	     --brdh: var(--color_18);
	     --txth: var(--color_18);
	     --bgd: 204,204,204;
	     --alpha-bgd: 1;
	     --brdd: 204,204,204;
	     --alpha-brdd: 1;
	     --txtd: 255,255,255;
	     --alpha-txtd: 1;
	     --alpha-bg: 1;
	     --alpha-bgh: 1;
	     --alpha-brd: 1;
	     --alpha-brdh: 0;
	     --alpha-txt: 1;
	     --alpha-txth: 1;
	     --boxShadowToggleOn-shd: none;
	     --shc-mutated-brightness: 123,41,31;
	     --label-align: center;
	     --label-text-align: center;
		 margin-top: 20px;
		 margin-bottom: 20px;
}
.info-more-button{
	
	    border-radius: 23px;
	color: #FFFFFF;
	background-color: #FC8808;
	    width: 200px;
	    height: 60px;
		border: 0px;
		
}
.button-p{
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 13px;
	margin-right: 13px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
	width: 35px;
}
.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}
.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.info-text-all{
	background-color: #e2e8ee;
	    margin-top: 120px;
	    padding-bottom: 30px;
	    z-index: 9999;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: center;
	    align-items: flex-start;

}
@media only screen and (max-width: 768px) {
.info-text-all{
	background-color: #e2e8ee;
	    margin-top: 30px;
	    padding-bottom: 30px;
	    z-index: 9999;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
}
}
.info-text-all-img{
	margin-bottom: 30px;
	margin-top: -110px;
	margin-left: 40px;
	text-align: left;
	float: left;
}
@media only screen and (max-width: 768px) {
.info-text-all-img{
	margin-bottom: 30px;
	margin-top: 40px;
	margin-left: 0px;
	text-align: center;
}
}

.info-text-all-img-img{
	margin-top: 60px;
	width: 640px;
	height: 470px;
}
@media only screen and (max-width: 768px) {
.info-text-all-img-img{
	margin-top: 60px;
	width: 320px;
	height: 240px;
}
}
.info-text-all-tittle{
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: left;
	margin-left: 100px;
}
@media only screen and (max-width: 768px) {
.info-text-all-tittle{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
	margin-left: 50px;
}
}
.info-text-all-tittle-p{
	font-size: 39px;
	font-weight: 700;
	
}
@media only screen and (max-width: 768px) {
.info-text-all-tittle-p{
	font-size: 24px;
	font-weight: 700;
	
}
}

.info-text-all-text{
	width: auto;
	height: auto;
	margin-left: 55px;
	margin-right: 55px;
	font-size: 16px;
	color: #000000;
	background-color: #e2e8ee;
	padding-bottom: 30px;
}
.info-text-all-p{
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.apple-div {
  margin: 30px 0;
  font-size: 26px;
  text-align: left;
  font-weight: 500;
/*  letter-spacing: -1.2px; */
  color: #000;
  line-height: 1.5em;
  margin-left: 40px;
  

}
@media only screen and (max-width: 768px) {
.apple-div {
  margin: 40px 0;
  font-size: 21px;
  text-align: left;
  font-weight: 500;
/*  letter-spacing: -1.2px; */
  color: #000;
  line-height: 1.5em;

}
}
.apple-span {
	margin-top:20px ;
	margin-bottom: 20px;
  --opacity: 0.3;
  opacity: var(--opacity);
  text-align: left;
  display: inline;
}

.pro {
  display: block;
  margin-top: 2.2rem;
}
.about-info{
	padding-top: 30px;
	padding-bottom: 50px;
	background-image: url(../img/background-none.png);
}
@media only screen and (max-width: 768px) {
.about-info{
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(../img/background-none.png);
}
}
.about-text{
	z-index: 999;
	text-align: center;
}
.about-text-p{
	z-index: 9999;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.2em;
}
.about-info-ico{
	margin-top: 30px;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: space-around;
	    align-items: center;
}
@media only screen and (max-width: 768px) {
.about-info-ico{
	margin-top: 30px;
	display: flex;
	        flex-direction: column;
	        flex-wrap: nowrap;
	        align-content: center;
	        justify-content: center;
	        align-items: center;
}
}
.about-ico{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 40px;
	margin-top: 20px;
	
}
.about-info-ico-apple{
	width: 150px;
	height: 150px;
	filter: invert(100%);
}
.about-info-ico-deve{
	width: 200px;
	height: 160px;
	filter: invert(100%);
}
.about-info-ico-spe{
	width: 120px;
	height: 130px;
}
.about-info-ico-ginat{
	width: 300px;
	height: 70px;
}
.to-our{
	border: #FC8808 solid;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
	padding-top: 30px;
	background-color: #15182f;
}
@media only screen and (max-width: 768px) {
.to-our{
	border: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 20px;
	padding-top: 30px;
	background-color: #15182f;
}
}
.to-our-text{
	font-size: 21px;
	text-align: center;
	color: rgba(246,81,61,1);
	margin-bottom: 30px;
}
.to-our-num{
	display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: center;
	    align-content: center;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 50px;
}
.to-our-email{
	font-size: 16px;
	color: #FFFFFF;
}
.to-our-url{
	font-size: 16px;
	color: #FFFFFF;
}
.to-our-ico{
	display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
}
.to-our-ico-app{
	width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-right: 15px;
	color: #EEEEEF;
}
.to-our-app{
	width: 40px;
	height: 40px;
	filter: invert(100%);
	
}
.modal-content{
	border-radius: 23px!important;
/* 	opacity:0.9; */
	width: 290px!important;
	height: 120px!important;
	background-color: #eeeeef!important;
}
.modal-body{
	text-align: center;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-content: center;
	    justify-content: center;
	    align-items: stretch;
}
.modal-footer{
	justify-content: center!important;
	padding: 5px!important;
	    border-top: 1px solid #d1d1d2!important;
}
.ios-btn{
	background-color: #EEEEEF;
	color: #0071E3;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 290px!important;
    margin: 1.75rem auto;
}
}
.modal-dialog{
		/* margin-left: 15%!important; */
		margin-top: 10%!important;
	}
@media only screen and (max-width:768px) {
	.modal-dialog{
		/* margin-left: 15%!important; */
		margin-top: 50%!important;
	}
}
.app-div{
	display: none;
	z-index: 1000;
	background:#000000;
	width: 100%;
	height: 50px;
	margin-top: -60px;
	[;margin-top: -30px;];
	-webkit-margin-top-collapse: -60px;
	position: fixed;
	opacity: 1;
	background-color: #000000;
	
}
/* @media screen and (-webkit-min-device-pixel-ratio:0){
	.app-div{
		z-index: 1000;
		background:rgba(0,0,0,0.5);
		width: 100%;
		height: 50px;
		margin-top: -30px;
		-webkit-margin-top-collapse: -60px;
		position: fixed;
		opacity: 1;
		background-color: #000000;
		
	}
} */
@media only screen and (max-width:768px) {
.app-div{
	z-index: 1000;
	background:#000000;
	width: 100%;
	height: 50px;
	margin-top: -30px; 
	position: fixed;
	opacity: 1;
	background-color: #000000;
	
}
}
.app-div2{
	z-index: 1000;
	background:rgba(0,0,0,0.5);
	width: 100%;
	height: 40px;
	margin-top: -20px;
	position: fixed;
	opacity: 1;
	background-color: #A8A8AA;
}
.app-flex{
	margin-top: 10px;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-evenly;
	    align-items: center;
	    align-content: center;
		
}
.app-text{
	color: #e99106;
	margin-top: 15px;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
}
.app-text2{
	color: #0066CC;
}
.loading{
	z-index: 99999999;
	position: fixed;
	background: #fff;
	width: 100%;
	height: 100%;

}
.loading-main{
	position: relative;
	    display: flex;
	    -webkit-box-align: center;
	    align-items: center;
	    height: 100%;
	    -webkit-box-pack: center;
	    justify-content: center;
	    flex-direction: column;
	    align-content: center;
	    flex-wrap: nowrap;
}
.loading-logo{
	
}
.loading-logo-img{
	width: 150px;
	height: 150px;
	line-height: 100px;
}
/* .loading-bar{
	margin-top: 60px!important;
}
.progress{
	width: 800px!important;
}
@media only screen and (max-width:768px) {
.progress{
	width: 300px!important;
}
}

.review{
	width: 1000px!important;
}
@media only screen and (max-width:768px) {
.review{
	width: 300px!important;
}
}
.progress-done{
	transition: width 100s ease 0.5s!important;
} */
/* 加载 */
* {
    margin: 0;
    padding: 0;
}



#app {
    
	margin-top: 40px;


    
}

.xcprogress {
    width: 700px;
    height: 20px;
    background: #e5e5e5;
    overflow: hidden;
	border-radius: 32px;
}
@media only screen and (max-width:768px) {
.xcprogress {
    width: 350px;
    height: 20px;
    background: #e5e5e5;
    border-radius: 32px;
    overflow: hidden;
}
}
.xcprogress-bar {
    height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #fc8808;
        background-size: 40px 40px;
        transition: width .6s ease;
        border-radius: 4px;
        animation: xcprogress-bar-anim 2s linear infinite;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
		border-radius: 32px;
}

.xcprogress-bar-value {
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

@keyframes xcprogress-bar-anim {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}
.learn-more{
	margin-top: 50px;
	margin-bottom: 10px;
}
.learn-more-text{
	
}
.learn-more-p{
	color: #0066cc;
}