/* 
.loading{position:fixed;width:120px;height:50px;top:45%;left:50%;z-index:555;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0);}
.loading > div:nth-child(2){-webkit-animation:pacman-balls 1s 0s infinite linear;animation:pacman-balls 1s 0s infinite linear;}
.loading > div:nth-child(3){-webkit-animation:pacman-balls 1s 0.33s infinite linear;animation:pacman-balls 1s 0.33s infinite linear;}
.loading > div:nth-child(4){-webkit-animation:pacman-balls 1s 0.66s infinite linear;animation:pacman-balls 1s 0.66s infinite linear;}
.loading > div:nth-child(5){-webkit-animation:pacman-balls 1s 0.99s infinite linear;animation:pacman-balls 1s 0.99s infinite linear;}
.loading > div:first-of-type{width:0px;height:0px;border-right:25px solid transparent;border-top:25px solid #e73068;border-left:25px solid #e73068;border-bottom:25px solid #e73068;border-radius:25px;-webkit-animation:rotate_pacman_half_up 0.5s 0s infinite;animation:rotate_pacman_half_up 0.5s 0s infinite;}
.loading > div:first-of-type::after{position:relative;content:"";width:10px;height:10px;background-color:#333;left:0px;top:-20px;border-radius:100%;z-index:9999;}
.loading > div:nth-child(2){width:0px;height:0px;border-right:25px solid transparent;border-top:25px solid #e73068;border-left:25px solid #e73068;border-bottom:25px solid #e73068;border-radius:25px;-webkit-animation:rotate_pacman_half_down 0.5s 0s infinite;animation:rotate_pacman_half_down 0.5s 0s infinite;margin-top:-50px;}
.loading > div:nth-child(3),.loading > div:nth-child(4),.loading > div:nth-child(5),.loading > div:nth-child(6){background-color:#e73068;width:15px;height:15px;border-radius:100%;margin:2px;width:10px;height:10px;position:absolute;-webkit-transform:translate(0,-6.25px);-ms-transform:translate(0,-6.25px);transform:translate(0,-6.25px);top:25px;left:100px;}
@-webkit-keyframes pacman-balls{
  75%{opacity:0.7;}
  100%{-webkit-transform:translate(-100px,-6.25px);transform:translate(-100px,-6.25px);}
}
@keyframes pacman-balls{
  75%{opacity:0.7;}
  100%{-webkit-transform:translate(-100px,-6.25px);transform:translate(-100px,-6.25px);}
}
@-webkit-keyframes rotate_pacman_half_up{
  0%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
  50%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
  100%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
}
@keyframes rotate_pacman_half_up{
  0%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
  50%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
  100%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
}
@-webkit-keyframes rotate_pacman_half_down{
  0%{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
  50%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
}
@keyframes rotate_pacman_half_down{
  0%{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
  50%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
} */ 
body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: #242F3F;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.loader-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #242F3F; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}